
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&display=swap');
@import "react-datepicker/dist/react-datepicker.css";

@theme {
  /* asphalt */
  --color-asphalt-50: #f4f3f2;
  --color-asphalt-100: #e3e1de;
  --color-asphalt-200: #cac3be;
  --color-asphalt-300: #aba099;
  --color-asphalt-400: #93847c;
  --color-asphalt-500: #84756e;
  --color-asphalt-600: #71615d;
  --color-asphalt-700: #5c4e4c;
  --color-asphalt-800: #4f4544;
  --color-asphalt-900: #463d3d;
  --color-asphalt-950: #211c1c;
  --color-asphalt-975: #0E0C0C;
  --color-asphalt-990: #151111;
  /* cement */
  --color-cement-50: #f6f3f0;
  --color-cement-100: #e7e2da;
  --color-cement-200: #d1c7b7;
  --color-cement-300: #b7a48d;
  --color-cement-400: #a2886d;
  --color-cement-500: #91765e;
  --color-cement-600: #7e6250;
  --color-cement-700: #664d42;
  --color-cement-800: #57423c;
  --color-cement-900: #4c3b37;
  --color-cement-950: #2b1f1d;
  /* sage */
  --color-sage-50: #f5f6f3;
  --color-sage-100: #e8e9e2;
  --color-sage-200: #d1d4c6;
  --color-sage-300: #b0b69f;
  --color-sage-400: #9aa188;
  --color-sage-500: #6a7455;
  --color-sage-600: #525b40;
  --color-sage-700: #414933;
  --color-sage-800: #353b2a;
  --color-sage-900: #2c3123;
  --color-sage-950: #181b13;
  /* powder-ash */
  --color-powder-ash-50: #f3f6f4;
  --color-powder-ash-100: #e2e9e2;
  --color-powder-ash-200: #c2d0c4;
  --color-powder-ash-300: #a0b5a5;
  --color-powder-ash-400: #76917c;
  --color-powder-ash-500: #56735d;
  --color-powder-ash-600: #415a48;
  --color-powder-ash-700: #34483a;
  --color-powder-ash-800: #2b3a30;
  --color-powder-ash-900: #243028;
  --color-powder-ash-950: #131b16;
  /* camelot */
  --color-camelot-50: #faf5f7;
  --color-camelot-100: #f6edf1;
  --color-camelot-200: #eedce4;
  --color-camelot-300: #e1c0ce;
  --color-camelot-400: #cd99ae;
  --color-camelot-500: #bb7993;
  --color-camelot-600: #a55d75;
  --color-camelot-700: #8c4a5e;
  --color-camelot-800: #7e4455;
  --color-camelot-900: #633844;
  --color-camelot-950: #3a1d25;
}

.font-whisper {
  font-family: 'Whisper', cursive;
  letter-spacing: 0.04em;
}


body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400; /* Kevyt, normaali paino */
  background: radial-gradient(circle at 50% 50%, var(--color-sage-900) 0%, #000 100%);
  color: var(--color-cement-100);
}

.btn-realistic {
  position: relative;
  overflow: visible;
  border-radius: 50%;
  
}

.form-field{
  
  box-shadow: inset -2px -2px 4px var(--color-asphalt-800),
  inset 1px 2px 4px var(--color-asphalt-990);
  background: var(--color-asphalt-950);
}

.btn-normal {
  background: var(--color-asphalt-950);
  box-shadow: inset -2px -2px 4px var(--color-asphalt-800),
              inset 2px 2px 4px var(--color-asphalt-990);
}

.react-datepicker-wrapper {
  display: block !important;
  width: 100% !important;
}

.tab-custom {
  background: var(--color-asphalt-950);
  color: var(--color-powder-ash-500);
  box-shadow: inset -1px -1px 2px var(--color-asphalt-800),
              inset 1px 1px 2px var(--color-asphalt-990);
  border-bottom: 2px solid var(--color-asphalt-900);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding: 0.5rem 1rem;
  transition: background 0.2s, color 0.2s;
}

.tab-custom.active {
  background: var(--color-asphalt-800);
  color: #fff;
  border-bottom: 2px solid var(--color-asphalt-700);
}

.tab-custom:hover {
  background: var(--color-cement-100);
  color: var(--color-cement-900);
}